Makefile
cmake-build-*
*.csv
*.o
*.swo
*.swp
.vscode
.idea/
callgrind.out.*
build
src/xtmemory.kcg.984337.1
src/massif.vgdb.out
src/massif.out.984337
.envrc
*.gpkg
*.tif
*.xml.venv
deploy
app/.venv/
hist*.txt
